#zing-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    margin-bottom: 0px;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-bottom: 1px solid #ddd;
}

.wrap {
    width: 1100px;
    margin-left: -550px;
    left: 50%;
    float: left;
    position: relative;
    clear: both;
    background: none !important;
    padding: 0 80px 0 110px;
}

#zing-header .logo {
    width: 100px;
    height: 100%;
    padding: 4px 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 100%;
}

#zing-header .logo a {
    display: block;
    width: 100%;
    height: 27px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://static-znews.zadn.vn/images/logo-zing.svg");
    position: relative;
}

#zing-header .logo span {
    font-size: 7px;
    display: block;
    letter-spacing: 0;
    height: 9px;
    color: #eee;
    width: 117%;
    text-transform: uppercase;
    padding-left: 2px;
    position: absolute;
    top: 27px;
    left: 0px;
    text-indent: 0;
}

#zing-header .Category-menu {
    float: left;
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    color: #000;
}

#zing-header .Category-menu>ul {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 0;
    position: relative;
    list-style: none;
}

#zing-header .Category-menu li {
    float: left;
    margin-right: 12px;
    font-size: 13px;
}

.Category-menu li a :hover {
    color: cornflowerblue;
}

a {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #ddd;
    display: inline-block;

}


#zing-header .toolbox {
    position: absolute;
    right: 0;
    height: 45px;

    display: flex;

    align-items: center;
}

#zing-header .toolbox .searchform-wrap #searchbox {
    position: relative;
    width: inherit;
    height: inherit;
    padding: 0;
}

#zing-header .toolbox>a {
    margin: 0 10px;
}

#zing-header .toolbox .searchform-wrap #searchbox input {
    position: absolute;
    width: 150px;
    height: 34px;
    right: -1px;
    top: -5px;
    border-radius: 6px;
    background-color: #636363;
    padding-left: 15px;
    visibility: hidden;

}

#zing-header .toolbox .searchform-wrap button {
    position: relative;
    top: 0;
    right: inherit;
    width: inherit;
    height: inherit;
    cursor: pointer;
    outline: none;
}

#zing-header .toolbox .searchform-wrap i span {
    font-size: 20px;
    text-decoration: none;
}

#zing-header .toolbox form i span {
    color: #ddd;
    font-size: 16px;
}

#zing-header .toolbox>a i {
    font-size: 20px;
    margin: 0 10px;
}
img {
    width: 100%;
}
.slider {
    margin: 20px;
}
.carousel-item img {
    max-height: 385px;
}   

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

#carousel-control {
  width: 4%
}
.noidung{
    width: 100%; margin: 10px;
}
.midle-slider-prev,
.midle-slider-next {
  filter: invert(1);
}

.midle-slider-prev {
  margin-left: -100px;
}

.midle-slider-next {
  margin-right: -100px;
}
img.hinhSachHay {
    width: 100%
    max-height:100px;
}
.covid strong {
    color: #fff;
    background-color: #dd3333;
    border: 1px solid #dd3333;
    border-radius: 10px;
}
.weather img {
    width: 10%;
}

.covid>span {
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    float: right;
    border: 1px solid red;
}
.corona-event__recover  {
    margin: 0 10px;
}
.corona-event__case {
    margin: 0 10px;
}

.corona-event__death {
    margin: 0 10px;
}

.stats-info.vn {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}
.news {
    margin: 10px 0px;
}
.news article {
    margin: 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 10px 0px;
}

.news a {
    color: #333;
}
.news a:hover {
    text-decoration: none;
}
.picture {
    padding: 0px;
    margin: 0 auto;
}
.headingMulti {
    margin: 20px 0px 0px 20px;
}
.hinh {
    position: relative;
}
.chuTrongHinh a{
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    width: 90%;

}

.chuTrongHinh a:hover{
    text-decoration: none;
    color: yellow;
}
.multiNews {
    margin: 0px 20px 20px 20px;
}
.titleNews a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.titleNews a:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.smallTitleNews {
    font-size: 12px;
}
#mainNews{
    font-size: 30px;
}
section.mainNews {
    border: none;
}

.section-title>h3::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    top: 2px;
    bottom: 2px;
    -webkit-transform: skew(-20deg);
    -khtml-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background-color: #dd3333;
}

.section-title {
    display: block;
    margin-bottom: 20px;
}

.section-title>h3 {
    font-size: 2em;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
    margin: 6px 0 4px 0;
}

.section-title>h3.heading4 {
    font-size: 25px;
}
.section-title>h3.heading5 {
    font-size: 20px;
}

.multiTitle {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
.multimedia {
    margin: 35px 0px;
    background-color: #FFde76;
}
.section-title .multi {
    margin-top: 20px;
}
.multiTitle li {
    display: inline-block;
    padding: 30px 20px 10px 20px;
    font-weight: bold;
}
.multimedia li.headMutil a{
    text-decoration: none;
    color: #000;
}
.multimedia li.headMutil a:hover{
    color: red;
}

span:hover{
    text-decoration: none;
}

img.hinhDanhChoBan {
    width: 100%;
    max-height: 170px;
}
.each {
    margin: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.cata a{
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    color: #333;
    display: inline-block;
    padding: 0px 10px 0px 0px;
}
.info {
    color: #aaa;
    font-size: 12px;
    display: inline-block;
    width: 20%;
}
.cataAndInfo{
    margin: 10px;
}
.cata a:hover {
    text-decoration: none;
    color: cornflowerblue;
}
.thuMuc {
    display: block;
    border-bottom: 1px solid #ddd;
}
.thuMucCon {
    margin: 20px 0;
}

.eachSmall {
    margin-bottom: 10px;
}

.scrollbar {
    overflow-y: scroll;
    max-height: 400px;
}

#imageSticky {
    overflow: hidden;
    background-color: #333;
}

#imageSticky a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
    clear: both;
    float: left;
    width: 100%;
    margin: 0 auto 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    color: #888;
    font-size: 12px;
    background: #f7f7f7;
    margin-top: 150px;
}

footer .page-wrapper {
    background: none !important;
    overflow: hidden;
    padding: 40px 0 50px !important;
}                   
.page-wrapper {
    float: left;
    position: relative;
    clear: both;
    z-index: 99;
    padding: 0 30px;
    background: #FFF !important;
    width: 100%;
}


footer#footer .page-wrapper.footer-wrapper .left-side-info {
    display: block;
    flex-direction: row;
    float: left;
    justify-content: center;
    align-items: center;
    width: auto;
}